.navbar div{
	padding: 15px;
	width: 100%;
}
.navbar div .name{
	left:0px;
	text-align: left;
	padding: 2px !important;
}
.navbar div .loggedin{
	float: right;
	right:0px;
	text-align: right;
	padding: 2px !important;
	margin-right: 50px
}
.navbar div .aboutus{
	float: right;
	margin-right: 0px;
	text-align: right;
	padding: 2px !important;
	margin-right: 50px
}.navbar div .signup{
	float: right;
	right: 100px;
	text-align: right;
	padding: 2px !important;
	margin-right: 50px
}

.navbar div .login{
	float: right;
	margin-right: 50px;
	text-align: right;
	padding: 2px !important;
	
}

.navbar a{
	padding:15px;
	/*text-align: center;*/
	text-decoration: none;
	color:#8E1812;
}
.navbar a:hover{
	color: blue;
}
#nb{
	position: fixed;
	left:0;
	top:0;
	right:0;
	background-color: black;
}